volumes:
  mongodb:

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongodb:/data/db
  {{ project_name_kebab_case }}:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{ project_name_kebab_case }}
    restart: unless-stopped
    ports:
      - "4242:4242"
