volumes:
  pgdata:

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data

  {{ project_name_kebab_case }}:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: {{ project_name_kebab_case }}
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "4242:4242"
