from kamihi import bot, BaseUser
from mongoengine import StringField


@bot.user_class
class User(BaseUser):
    """
    Custom user class for {{ project_name }}.
    This class can be extended to add custom attributes or methods.
    """
    name: str = StringField(required=True)
